name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - uses: actions/setup-node@v4.0.4
        with:
          cache: 'npm'
          node-version: 20
      - run: npm ci --no-fund --no-audit
      - name: Run checks
        run: npm run check:ci

  release:
    name: Release
    needs:
      - check
    permissions:
      contents: write
      id-token: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: github.repository_owner == 'friedemannsommer' && github.ref_name == 'main'
    concurrency: '${{ github.workflow }}-${{ github.ref }}'
    steps:
      - uses: actions/checkout@v4.2.0
      - uses: actions/setup-node@v4.0.4
        with:
          cache: 'npm'
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci --no-fund --no-audit
      - name: Create release PR or publish
        uses: changesets/action@v1.4.8
        with:
          title: 'ci(changesets): package release'
          commit: 'ci(changesets): version package'
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
