name: CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-node@v4.0.2
        with:
          cache: 'npm'
          node-version: 20
      - run: npm ci --no-fund --no-audit
      - name: Run checks
        run: npm run check:ci

  release:
    name: Release
    needs:
      - check
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    if: github.repository_owner == 'friedemannsommer'
    concurrency: '${{ github.workflow }}-${{ github.ref }}'
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: actions/setup-node@v4.0.2
        with:
          cache: 'npm'
          node-version: 20
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci --no-fund --no-audit
      - name: Create release PR or publish
        uses: changesets/action@1.4.7
        with:
          title: 'ci(changesets): package release'
          commit: 'ci(changesets): version package'
          publish: npm run release
        env:
          GITHUB_TOKEN: ${{ github.token }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
